OPENAI_API_KEY=...
INHIB_KEY=...
INHIBITOR_URL=https://iaas.appliedai.studio/check
PRIMARY_MODEL=gpt-4.1-mini
VERIFIER_MODEL=gpt-4.1-nano

DB_USER=postgres
DB_HOST=localhost
DB_DATABASE=goodsoup
DB_PASSWORD=pass123
DB_PORT=5432

GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
NEXTAUTH_SECRET="long-secret-string"
NEXTAUTH_URL=http://localhost:3000